<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="lanchoneteconexao" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Lanchonete;Data Source=DESKTOP-1IV86KT\SQLEXPRESS"/>
  </connectionStrings>
</configuration>